# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
ENV/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE or Editor directories
.idea/
.vscode/

# Local environment variables file
.env

# Credentials folder (to protect sensitive JSON keys, etc.)
credentials/

# Large binary files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# MacOS files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Specific files
bfg-1.15.0.jarbfg-1.15.0.jar
.env
credentials/*
__pycache__/
